* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, p {
  font-family: Lato;
}

h1 {
  margin: 0;
}

label {
  margin-right: 0.5em;
}

button {
  display: block;
  margin-top: 1em;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}